<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>seniorProjectFallingMentor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>84C6A5FC1CD0943A009528E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84C6A6141CD0943A009528E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84C6A61F1CD0943A009528E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
